<phpunit bootstrap="bootstrap.php" printerClass="\ryunosuke\PHPUnit\Printer\ProgressPrinter">
    <testsuites>
        <testsuite name="tests">
            <directory>./Test/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="TESTWEB_URL" value="http://localhost:3000"/>
        <const name="SELENIUM_URL" value="http://localhost:4444/wd/hub"/>
        <const name="BROWSERS" value="phantomjs"/>
        <!-- for example <const name="BROWSERS" value="firefox,chrome,safari" /> -->
    </php>

    <coverage>
        <include>
            <directory suffix=".php">../src/chmonos</directory>
        </include>
    </coverage>
</phpunit>
