/* for error */

.validatable_label.required:after {
    margin-left: 3px;
    content: '*';
    color: #ff0000;
    font-weight: bold;
}

@keyframes BlinkValidatable {
    50% {
        box-shadow: 0 1px 15px 0 red;
    }
}

.validatable_blink {
    animation: BlinkValidatable 1.15s 1;
}

.validatable.validation_warn,
.validatable.validation_warn + label {
    background-color: #ff0;
}

.validatable.validation_error,
.validatable.validation_error + label {
    background-color: #fcc;
}

.validatable.validation_ok,
.validatable.validation_ok + label {
    background-color: #cfc;
}

option.validation_invalid,
.validatable.validation_invalid,
.validatable.validation_invalid + label {
    color: #ff4500;
}

/**
 * Toastr
 * Copyright 2012-2015
 * Authors: John Papa, Hans Fjällemark, and Tim Ferrell.
 * All Rights Reserved.
 * Use, reproduction, distribution, and modification of this code is subject to the terms and
 * conditions of the MIT license, available at http://www.opensource.org/licenses/mit-license.php
 *
 * ARIA Support: Greta Krafsig
 *
 * Project: https://github.com/CodeSeven/toastr
*/

#chmonos-toast-container {
    position: fixed;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    max-height: 96vh;
    overflow-y: auto;

    /* top-right */
    right: 12px;
    top: 12px;

    /* top-left */
    /*
    left: 12px;
    top: 12px;
    */

    /* bottom-right */
    /*
    right: 12px;
    bottom: 12px;
    */

    /* bottom-left */
    /*
    left: 12px;
    bottom: 12px;
    */
}

#chmonos-toast-container:empty {
    display: none;
}

#chmonos-toast-container:before {
    content: '下記のエラーがあります(クリックで移動します)';
    font-size: 12px;
    color: white;
    background-color: rgba(146, 32, 21, 0.9);
    display: block;
    border-radius: 3px;
    margin-bottom: 3px;
    padding: 3px;
}

#chmonos-toast-container * {
    box-sizing: border-box;
    word-break: break-all;
}

#chmonos-toast-container > div {
    position: relative;
    flex: 0 0 auto;
    overflow: hidden;
    margin: 0 0 6px;
    padding: 7px 15px 7px 50px;
    width: 300px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 12px #999999;
    color: #FFFFFF;
    opacity: 0.8;
}

#chmonos-toast-container > div:hover {
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    cursor: pointer;
}

#chmonos-toast-container .toast-title {
    font-weight: bold;
    font-size: 16px;
}

#chmonos-toast-container .toast-message {
    white-space: pre-line;
    font-size: 14px;
}

#chmonos-toast-container .toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    line-height: 1;
}

#chmonos-toast-container .toast-close-button:hover,
#chmonos-toast-container .toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
}

#chmonos-toast-container > [data-toast-type]:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 100%;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#chmonos-toast-container > [data-toast-type="error"] {
    background-color: #BD362F;
}

#chmonos-toast-container > [data-toast-type="error"]:before {
    content: "\26D4\FE0E";
}

#chmonos-toast-container > [data-toast-type="warning"] {
    background-color: #F89406;
}

#chmonos-toast-container > [data-toast-type="warning"]:before {
    content: "\26A0\FE0E";
}
